<div class="navlinks">
		<!-- Navigation -->
		<nav class="navbar navbar-default" role="navigation">
				<div class="container">
						<div class="navbar-header page-scroll">
								<a class="navbar-brand page-scroll" href="/doreenselly/add_inventory/">
								</a>
						</div>

						<a href="login.html" class="btn green" style="display:none;">Register/Login</a>

						<a href="/doreenselly/logout" class="btn red">Logout</a>

						<ul>
								<li class="active">
										<a href="/doreenselly/add_inventory">Inventory Manager</a>
								</li>
								<li>
										<a href="/doreenselly/admin_order_view">Order Manager</a>
								</li>
								<li>
										<a href="/doreenselly/admin_profile">My Profile</a>
								</li>
								<li>
										<a href="/doreenselly/admin_blog">Blog</a>
								</li>
						</ul>

						<!-- /.navbar-collapse -->
				</div>
				<!-- /.container -->
		</nav>
</div>