{% load staticfiles %}
	<header class="row">
		<div class="span12">
			<nav class="navbar">
				<div class="navbar-inner">
					<div class="nav-collapse collapse">
						<ul class="nav">
							<!-- {% if user.is_authenticated %}
								<li><a href="/doreenselly/home">Home</a></li>
									{% else %}
								<li><a href="/doreenselly/">Home</a></li>
							{% endif %} -->
							<div>
								{% if user.is_authenticated %}
									<p align="right">Welcome {{user.username}} you have Logged in &nbsp;&nbsp; &nbsp; View <a href="/doreenselly/cart/">Cart</a>&nbsp;&nbsp; &nbsp; <a href="/doreenselly/logout">Logout</a></p>
								{% endif %}

							</div>
						</ul>
					</div>

				</div>

			</nav>

		</div>
	</header>
	<p>Click to <a href="/doreenselly/add_inventory/">add Inventory</a></p>

	</form>