<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<form>
			
				<div class="pull-left">
					<a href="/doreenselly/signin/" class="btn btn-primary">Sign in</a>
				</div>
				
				<div class="pull-left">
					<a href="/doreenselly/signup/" class="btn btn-default">Registration</a> 
				</div>
		</form>

