<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<div>
	{% if user.is_authenticated %}
		<p align="right">Welcome {{user.username}} you have Logged in &nbsp;&nbsp; &nbsp; <a href="/doreenselly/logout">Logout</a></p>
	{% endif %}
</div><br><br>
{% if request.user.signup.country == "USA" %}
	<table width="80%" border="1" id="preview_items" align="center" class="table table-striped">
		<tr >
			<th>Location</th>
			<th>Description</th>
			<th>Price ($)</th>
			<th>Quantity</th>
			<th>Sold</th>
			<th>Total Payments ($)</th>
			<th>Items Remaining</th>
			<th>Shipment Status</th>
			<th>Country</th>
			<th>PK</th>
		</tr> 
			{% for product in items %}
			<tr>
				<td>{{product.docfile}}</td>
				<td>{{product.description}}</td>
				<td>{{product.price}}</td>
				<td>{{product.quantity}}</td>
				<td>{{product.sold}}</td>
				<td>{{product.total_payments}}</td>
				<td>{{product.item_remaining}}</td>
				<td>{{product.shipment_status}}</td>
				<td>{{product.country}}</td>
				<td>{{product.pk}}</td>
				<td>
					<a href="#{{product.pk}}" class="manipulate btn btn-info btn-md" item_id="{{product.pk}}">Update</a>
					  |  
					<a href='/admin_delete_item/{{product.id}}' class="btn btn-info btn-md" item_id="{{product.pk}}" onclick="return confirm('Are you sure you want to delete?')">
						Delete
					</a>
				</td>
			</tr>
			<input type="hidden" id="ds" value="{{product.description}}">
			{% endfor %}
	</table>
{% elif request.user.signup.country == "KENYA" %}
	<table width="80%" border="1" id="preview_items" align="center" class="table table-striped">
		<tr >
			<th>Location</th>
			<th>Description</th>
			<th>Price ($)</th>
			<th>Quantity</th>
			<th>Sold</th>
			<th>Total Payments ($)</th>
			<th>Items Remaining</th>
			<th>Shipment Status</th>
			<th>Country</th>
			<th>PK</th>
		</tr> 
			{% for product in item %}
			<tr>
				<td>{{product.docfile}}</td>
				<td>{{product.description}}</td>
				<td>{{product.price}}</td>
				<td>{{product.quantity}}</td>
				<td>{{product.sold}}</td>
				<td>{{product.total_payments}}</td>
				<td>{{product.item_remaining}}</td>
				<td>{{product.shipment_status}}</td>
				<td>{{product.country}}</td>
				<td>{{product.pk}}</td>
				<td>
					<a href="#{{product.pk}}" class="manipulate btn btn-info btn-md" item_id="{{product.pk}}">Update</a>
					  |  
					<a href='/admin_delete_item/{{product.id}}' class="btn btn-info btn-md" item_id="{{product.pk}}" onclick="return confirm('Are you sure you want to delete?')">
						Delete
					</a>
				</td>
			</tr>
			<input type="hidden" id="ds" value="{{product.description}}">
			{% endfor %}
	</table>
{% else %}
	<p>No <strong>item</strong> is available</p>
{% endif %}
	<br><br><br>
	<!-- <p><a href="/doreenselly/homepage/">Homepage</a></p> -->

<!-- Modal -->
<div class="modal fade" id="edititemModal{{product.pk}}" role="dialog" style="height: auto;">
	<div class="modal-dialog">
	<!-- Modal content-->
		<div class="modal-content" align="left" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Edit or Update Item </h4>
			</div>
			<div class="modal-body">
				<div class="alert hidden" id="alert1" role="alert">
				</div>
				<p id="item_make"></p>
				<form action="/doreenselly/edit_item/" method="post" class="special" enctype="multipart/form-data" item_id="{{product.pk}}" >
					{% csrf_token %}
						<div class="form-group">
							<input type="number" id="id_item" maxlength="32" name = "item_id" value="{{id}}" class="form-control" required/>
						</div>

						<div class="form-group">
							<label>Description</label>
							<input type="text" id="id_description" maxlength="32" name = "description" value="{{item_val}}" class="form-control" required/>
						</div>

						<div class="form-group">
							<label>Price</label>
							<input type="number" id="id_price" maxlength="32" name="price" value="{{price}}" class="form-control" required/>
						</div>

						<div class="form-group">
							<label>Quantity</label>
							<input type="number" id="id_quantity" maxlength="10" name="quantity" value="{{quantity}}" class="form-control" required/> 
						</div>

						<div class="modal-footer">
							<input type="submit" name="edit" id="edit_item" class='btn pull-right' value="Update"/>
						</div>
						
				</form><br>
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function(){
	$(".manipulate").click(function(){
		$('#id_description').val();
		var item_keys = ['#id_location','#id_description', '#id_price', '#id_quantity']
		for(var i=1; i<9; i++){
			var item_val = $(this).parent().parent().find('td:nth-child('+i+')')[0].innerText;
			console.log("InnerText is :"+ item_val);
			// alert(item_val);
			$(item_keys[i-1]).val(item_val);
			// alert($(item_keys[i-1]).val(item_val));
			// var ans = $(item_keys[i-1]).val(item_val);
			// alert(ans);
			// console.log(ans);
		}
		$('#id_item').val($(this).attr('item_id'));
		$('#edititemModal').modal('show');
	});
});
</script>
