
{% load staticfiles %}

	{% block body_block %}
	<div align="center">
		<form action="/doreenselly/signin/" method="POST">
			{% csrf_token %}
				<div class="span1">Username:</div> 
				<input type="text" name="username" placevalue="" required="required" size="20" />
				<br /><br />
				<div class="span1">Password:</div> 
				<input type="password" name="password" value="" required="required" size="20" />
				<br /><br /><br />
				<div class="pull-right">
					<input type="submit" class="btn btn-primary" value="login">
					<button type="button"><a class="btn btn-info" href="/doreenselly/signup/" role="button" data-toggle="modal">Signup</a> </button>
				</div>
		</form>
	</div>

	{% endblock %}